{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": ["/built/"],
  "rules": {
    "max-len": ["error", { "code": 150 }],
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "semi": "off",
    "@typescript-eslint/semi": ["error"],
    "@typescript-eslint/no-unused-vars": ["error"],
    "quotes": "off",
    "@typescript-eslint/quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "quote-props": ["error", "as-needed"]
  }
}
